
.contact-wrapper {
    height: 100%;
    min-height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.contact-wrapper h2 {
    text-align: center;
}

.contact-wrapper form {
    padding-top: 40px;
    display: flex;
    flex-flow: column;
}

.contact-wrapper input {
    padding: 0 10px;
    height: 45px;
    width: calc(500px - 20px);
    color: var(--blue);
    margin-bottom: 10px;
    border: 1px solid var(--blue);
}

.contact-wrapper textarea {
    min-height: 250px;
    width: calc(500px - 20px);
    padding: 10px;
    resize: none;
    border: 1px solid var(--blue);
}

.contact-wrapper input[type="submit"] {
    cursor: pointer;
    width: 250px;
    border: 1px solid var(--white);
    background-color: var(--white);
    margin-top: 20px;
    margin-left: calc(100% - 250px);
}

.contact-wrapper input[type="submit"]:hover {
    background-color: var(--blue);
    color: var(--white);
}